#viewhigh {
    float: left;
}

#time {
    float: right;
}

#content {
    text-align: center;
}

.main {
    padding: 50px;
}

button {
    display: block;
    margin: auto;
    background-color: #4d00a5;
    color: white;
    border-radius: 5px;
    border: 1px #4d00a5 solid;
}