body {
    width: 600px;
    margin: auto;
}

#p1, #p2 {
    line-height: 1.5em;
}

.relative {
    position: relative;
    padding: 100px;
    background: #eee;
    z-index: 1;
}

.absolute {
    position: absolute;
    height: 100px;
    width: 200px;
    padding: 20px;
    background: #999;
    right: 400px;
    top: 320px;
    z-index: 2;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    background: #eee;
}